# Ollama Configuration
OLLAMA_URL=http://localhost:11434
OLLAMA_EMBED_MODEL=nomic-embed-text:latest
OLLAMA_LLM_MODEL=gpt-oss:120b-cloud

# Endee Database Configuration
#ENDEE_URL=http://localhost:8080/api/v1
ENDEE_URL=http://localhost:8080
ENDEE_INDEX_NAME=cnc_hybrid_vdb

# RAG Settings
TOP_K=5
DOC_SERVER_URL=http://localhost:8003
NLTK_DATA_PATH=./nltk_data
